
*.tmp
*.exe
GameOfLife/.vs/sebduruz-GameOfLife/v16/.suo
GameOfLife/.vs/sebduruz-GameOfLife/v16/.suo
GameOfLife/sebduruz-GameOfLife/bin/Debug/sebduruz-GameOfLife.exe.config
GameOfLife/sebduruz-GameOfLife/bin/Debug/sebduruz-GameOfLife.pdb
GameOfLife/sebduruz-GameOfLife/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
GameOfLife/sebduruz-GameOfLife/obj/Debug/sebduruz-GameOfLife.csproj.AssemblyReference.cache
GameOfLife/sebduruz-GameOfLife/obj/Debug/sebduruz-GameOfLife.csproj.CoreCompileInputs.cache
GameOfLife/sebduruz-GameOfLife/obj/Debug/sebduruz-GameOfLife.csproj.FileListAbsolute.txt
GameOfLife/sebduruz-GameOfLife/obj/Debug/sebduruz-GameOfLife.csproj.GenerateResource.cache
GameOfLife/sebduruz-GameOfLife/obj/Debug/sebduruz-GameOfLife.pdb
GameOfLife/sebduruz-GameOfLife/obj/Debug/sebduruz_GameOfLife.MainForm.resources
GameOfLife/sebduruz-GameOfLife/obj/Debug/sebduruz_GameOfLife.Properties.Resources.resources
GameOfLife/sebduruz-GameOfLife/obj/Debug/sebduruz_GameOfLife.Resources.LangEN.resources
GameOfLife/sebduruz-GameOfLife/obj/Debug/sebduruz_GameOfLife.Resources.LangFR.resources
GameOfLife/.vs/sebduruz-GameOfLife/v16/.suo
